.pseudo{
  text-align: left;
  align-self: center;
}

.tab{
  margin-right: 1em;

}


.comment{
  opacity: .5;
  font-weight: bold;
}

.code{
  font-weight: bold;
  opacity: .8

}

.header{
  padding: 10px;
  color: #ff3f3f;
}

.algo{
  margin-top: 1em;
}
