.array-bar{
  background-color: #36454F;
  border: 1px black solid;
  text-align: center;
  width: 1em;
  align-self: flex-end;
}



/*
#ff3f3f - redish
#c04df9 - purple
#f3ea5f - yello
#2bd1fc - blue
#ff48c4 - pink
*/
