.array-bar-container{
  display: flex;
  flex-direction: row;
  background-color: white;
  margin: 1em;
  height: 501px;
}

.bars-card {

}

.main-card{
    border: none;
    margin: 2em;
}

.console{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-container{
  display: flex;
  flex-direction: column;
}

.abtn {
  border: black 0.5px solid;
  padding: .2em;
  margin: .5em .5em 0 0;
  background: rgba(0,0,0,0);
  border-radius: 5px;
  font-family: fantasy;
  width: 150px;
}

.abtn:hover{
  /* background: rgba(54, 69, 79); */
  background: #212020;
  color: white;
}

.abtn:active{
  box-shadow: 1px 2px black;
}

.abtn:focus{
  outline: none;
}

.btn-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  margin-top: 1.5em;
}

 .r {
  border: #ff3f3f 0.5px solid;
  padding: .2em;
  margin: .5em .5em 0 0;
  background: rgba(0,0,0,0);
  border-radius: 5px;
  font-family: fantasy;
  width: 150px;
  color: #ff3f3f;
}

 .r:hover{
  /* background: rgba(54, 69, 79); */
  background: #ff3f3f;
  color: white;
}

 .r:active{
  box-shadow: 1px 2px #ff3f3f;
}

.r:focus{
  outline: none;
}

@media only screen and (max-width: 450px) {
  .console {
    flex-direction: column;
  }

  .btn-col{
    margin: auto;
  }
}
